<div id="accordion-{{ paginator.id }}" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne-{{ paginator.id }}">
            <a id="panel-filter-{{ paginator.id }}" data-toggle="collapse" data-parent="#accordion-{{ paginator.id }}" href="#collapseOne-{{ paginator.id }}" aria-expanded="true" aria-controls="collapseOne-{{ paginator.id }}">
                <h4 class="text-left panel-title mb-0">
                    <span class="fa fa-search" aria-hidden="true"></span>
                    {{ 'Search filters'|trans }}
                    <span id="arrow-{{ paginator.id }}" class="arrow fa fa-chevron-{{ paginator.panelState == 'open' ? 'up' : 'down' }}"></span>
                </h4>
            </a>
        </div>
        <div id="collapseOne-{{ paginator.id }}" class="collapse {{ paginator.panelState == 'open' ? 'show' : '' }}" role="tabpanel" aria-labelledby="headingOne-{{ paginator.id }}">
            <div class="card-body" id="filters-{{ paginator.id }}">
                {% block filters %}
                	{% include '@MottaPg/Paginator/components/filter_panel_filters.html.twig' %}
                {% endblock %}
                <div class="col-md-12 small">
                    <button class="btn btn-primary btn-navbar btn-md" id="search-{{ paginator.id }}" style="cursor:pointer" type="button" title="{{ 'Search'|trans }}">
                        {{ 'Search'|trans }}
                    </button>
                    <button class="btn btn-default btn-navbar btn-md" id="clean-{{ paginator.id }}" style="cursor:pointer" type="button" title="{{ 'Clean'|trans }}">
                        {{ 'Clean'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
