<div id="filters-{{ paginator.id }}" class="col-9">
	<div class="row">
		{% for f in filters %}
			<div class="col-sm-3" style="margin-bottom: 10px;">
				{{ form_widget(f, {"attr": {"class": "form-control upper"} } ) }}
			</div>
		{% endfor %}
		<div class="col-sm-3">
			<button class="btn btn-primary" id="search-{{ paginator.id }}" type="button" title="{{ 'Search'|trans }}">
	            {{ 'Search'|trans }}
	        </button>
	        <button class="btn btn-default" id="clean-{{ paginator.id }}" type="button" title="{{ 'Clean'|trans }}">
	            {{ 'Clean'|trans }}
	        </button>
		</div>
	</div>
</div>
