{% extends paginator.layout ~ '.html.twig' %}

{% form_theme paginator.form 'form_div_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@MottaPg/Paginator/components/css.html.twig' %}
{% endblock %}

{% block body %}
    {% include '@MottaPg/Paginator/components/mass_error.html.twig' %}
	{% block title %}{% endblock %}
	<div id="list">
	    <form action="" method="POST" id="{{ paginator.id }}">
	    	{% block pg_header %}
		        {% if paginator.form.filters is defined and paginator.form.filters|length > 0 %}
		            {% set filters = paginator.form.filters %}
		            {% block filtersPanel %}
		            	{% include '@MottaPg/Paginator/components/filter_'~ paginator.filterTheme ~'.html.twig' %}
		            {% endblock %}
		        {% endif %}
		        <div class="row">
		            <div class="col-md-12 panel-group text-right">
		                {% block buttons %}{% endblock %}
		            </div>
		        </div>
	    	{% endblock %}
	        <div id="table-container-{{ paginator.id }}" class="{{ paginator.hide.list ? 'invisible' : '' }} {% block table_class %}{% endblock %}">
	        	{% include '@MottaPg/Paginator/components/header.html.twig' %}
	            <div class="e10"></div>
	            {% block list %}{% endblock %}
	            {% block pg_footer %}{% endblock %}
	            <hr>
	            {% include '@MottaPg/Paginator/components/footer.html.twig' %}
	            <hr>
	        </div>
	        {{ form_row(paginator.form._token) }}
	    </form>
	</div>

{% endblock %}
